.steps {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
    bottom: -9px;
}

.steps::after {
    content: "";
    width: 380px;
    border-bottom: 1px solid #d34e4e;
    position: absolute;
    top:20px
}

.step {
    text-align: center;
    background-color: #e4dada;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}